<mat-card class="post-card">
  <mat-card-header>
    <mat-card-title><strong>{{ post.title }}</strong></mat-card-title>
    <div class="title-spacer"></div>
    <button class="card-menu" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="clickEditButton()">
        <mat-icon color="primary">edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="clickRemoveButton()">
        <mat-icon color="warn">delete</mat-icon>
        <span>Remove</span>
      </button>
    </mat-menu>
  </mat-card-header>
  <img mat-card-image src="{{ post.image_url }}" alt="{{ 'Image of ' + post.title }}">
  <mat-card-content>
    <p>
      {{ post.content }}
    </p>
  </mat-card-content>
</mat-card>
