.toolbar-icon {
  padding: 0 5px;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.main-content {
  padding: 20px 50px 50px 20px;
}
